<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Open navigation" (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Transaction Monitoring</span>
  <span class="spacer"></span>
  <div>
    <mat-menu #intervalMenu="matMenu">
      <button mat-menu-item (click)="setInterval(5)">5 seconds</button>
      <button mat-menu-item (click)="setInterval(10)">10 seconds</button>
      <button mat-menu-item (click)="setInterval(30)">30 seconds</button>
      <button mat-menu-item (click)="setInterval(300)">5 minutes</button>
      <button mat-menu-item (click)="setInterval(600)">10 minutes</button>
      <button mat-menu-item (click)="setInterval(1800)">30 minutes</button>
      <button mat-menu-item (click)="setInterval(3600)">1 hour</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="intervalMenu">
      <mat-icon>access_time</mat-icon>
    </button>
  </div>
  <div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let timeZone of timeZones" [value]="timeZone" (click)="setSelectTimeZone(timeZone)">
        {{ timeZone }}
      </button>
    </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>location_on</mat-icon>
      </button>
  </div>

</mat-toolbar>
